/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
#profileUser{

    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#titleUser {
    font-weight: bold;
    font-size: 1.5rem;
    color: midnightblue;
}

#saludoUser{
font-weight: bold;
color: steelblue;
}

.loginUser, h2{
    font-weight: bold;
    font-size: 2rem;
    color: midnightblue;
    text-align: center;
}